h2 {
    text-align:left;
}

p {
    font-size: 0.8em;
}

.equipment-row {
    margin-top: 2em;
}

.search-equipment {
    padding-top: 33px;
    margin-bottom: 16px;
}

.btn-primary {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0.3em;
}

.admin-icon {
    height: 20px;
    width: 30px;
}

.add-img {
    height: 240px;
    width: 240px;
}

.delete-btn {
    height: 35px;
    width: 50px;
    background-color: var(--dark-grey);
    border-radius: 2em;
}

.continue-renting-btn {
    color: white;
    background-color: var(--light-red);
    border-radius: var(--rounded-corner);
}

#btn-rent {
    width: var(--standard-width);
    margin-right: 2em;
}
