:root {
    --light-red: #FC654E;
    --dark-grey: #444444;
    --rounded-corner: 0.5em;
    --standard-height: 2.3em;
    --standard-width: 12em;
}

h1 {
    color: var(--light-red);
    font-size: 3em;
}

h2 {
    color: var(--dark-grey);
    font-size: 2em;
}

input {
    height: var(--standard-height);
    border-radius: var(--rounded-corner);
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:visited {
    color: var(--light-red) !important;
    font-weight: bold;
}

.navbar a {
    color: var(--dark-grey) !important;
}

.navbar img {
    height: 20px;
    width: 20px;
}

.right-item {
    margin-right: 3em;
}

.btn-primary {
    background-color: var(--light-red);
    border: 1px solid black;
    border-radius: var(--rounded-corner);
    color: white;
    height: var(--standard-height);
    margin: 1em;
    width: var(--standard-width);
}

.btn-primary:hover, .btn-primary:active {
    background-color: var(--light-red) !important;
}

.spacerleft5 {
    margin-left: 5px;
}

.spacerleft10 {
    margin-left: 10px;
}

.spacerleft15 {
    margin-left: 15px;
}

.btn-admin {
    background-color: #444444;
    border-radius: var(--rounded-corner);
}
.left-item{
    margin-left: 2em;
}