<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>borgdir.media</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/equipment.css" />
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="index.html">borgdir.media</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" role="navigation">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="equipment.html">Equipment</a>
                <a class="nav-item nav-link" href="my-equipment.html">Meine Geräte</a>
                <a class="nav-item nav-link" href="login.html">Logout</a>
                <a class="nav-item nav-link" href="cart.html"><img src="img/shopping-cart.svg" alt="icon-cart"></a>
            </div>
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="profil.html">Max Mustermann</a>
                <a class="nav-item nav-link" href="profil.html"><img class="user-icon" src="img/user.svg" alt="icon-user"></a>
            </div>
        </div>
    </nav>

    <div class="col-sm-6 spacer-top-2em">
        <h3 class="mb-2">Vorgemerkt</h3>
    </div>
    <div class="container-fluid">
        <div class="row equipment-row">
            <div class="col-sm-3">Equipment</div>
            <div class="col-sm-3">Beschreibung</div>
            <div class="col-sm-2">Entliehen am</div>
            <div class="col-sm-2">Rückgabe bis</div>
            <div class="col-sm-2">Verlängern</div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr size="30">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <img class="img-fluid" src="img/video_camera.png" alt="img">
            </div>
            <div class="col-sm-2">
                <div><h3>Kamera 1</h3></div>
                <div>Inv.-Nr.: 123456789</div>
            </div>
            <div class="col-sm-3">
                <p>Eine Kamera ist eine fototechnische Apparatur, die statische oder bewegte Bilder auf einem fotografischen Film oder elektronisch auf ein magnetisches Videoband oder digitales Speichermedium aufzeichnen oder über eine Schnittstelle übermitteln kann.<p>
            </div>
            <div class="col-sm-2">
                <div>20.09.2018</div>
            </div>
            <div class="col-sm-2">
                <div class="col-sm-2 red-text">25.09.2018</div>
            </div>
            <div class="col-sm-2 row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <button type="button" name="button" class="continue-renting-btn">
                        Verlängern
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <img class="img-fluid" src="img/video_camera.png" alt="img">
            </div>
            <div class="col-sm-2">
                <div><h3>Kamera 1</h3></div>
                <div>Inv.-Nr.: 123456789</div>
            </div>
            <div class="col-sm-3">
                <p>Eine Kamera ist eine fototechnische Apparatur, die statische oder bewegte Bilder auf einem fotografischen Film oder elektronisch auf ein magnetisches Videoband oder digitales Speichermedium aufzeichnen oder über eine Schnittstelle übermitteln kann.<p>
            </div>
            <div class="col-sm-2">
                <div>20.09.2018</div>
            </div>
            <div class="col-sm-2">
                <div class="col-sm-2 red-text">25.09.2018</div>
            </div>
            <div class="col-sm-2 row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <button type="button" name="button" class="continue-renting-btn">
                        Verlängern
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <img class="img-fluid" src="img/video_camera.png" alt="img">
            </div>
            <div class="col-sm-2">
                <div><h3>Kamera 1</h3></div>
                <div>Inv.-Nr.: 123456789</div>
            </div>
            <div class="col-sm-3">
                <p>Eine Kamera ist eine fototechnische Apparatur, die statische oder bewegte Bilder auf einem fotografischen Film oder elektronisch auf ein magnetisches Videoband oder digitales Speichermedium aufzeichnen oder über eine Schnittstelle übermitteln kann.<p>
            </div>
            <div class="col-sm-2">
                <div>20.09.2018</div>
            </div>
            <div class="col-sm-2">
                <div class="col-sm-2 red-text">25.09.2018</div>
            </div>
            <div class="col-sm-2 row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <button type="button" name="button" class="continue-renting-btn">
                        Verlängern
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 spacer-top-2em">
        <h3 class="mb-2">Meine Geräte</h3>
    </div>
    <div class="container-fluid">
        <div class="row equipment-row">
            <div class="col-sm-3">Equipment</div>
            <div class="col-sm-3">Beschreibung</div>
            <div class="col-sm-4">Rückgabe vsl.</div>
            <div class="col-sm-2">Entfernen</div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr size="30">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <img class="img-fluid" src="img/video_camera.png" alt="img">
            </div>
            <div class="col-sm-2">
                <div><h3>Kamera 1</h3></div>
                <div>Inv.-Nr.: 123456789</div>
            </div>
            <div class="col-sm-3">
                <p>Eine Kamera ist eine fototechnische Apparatur, die statische oder bewegte Bilder auf einem fotografischen Film oder elektronisch auf ein magnetisches Videoband oder digitales Speichermedium aufzeichnen oder über eine Schnittstelle übermitteln kann.<p>
            </div>
            <div class="col-sm-4">
                <div class="red-text">25.09.2018</div>
            </div>
            <div class="col-sm-2 row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <button type="button" name="button" class="continue-renting-btn">
                        Verlängern
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</footer>

</html>
