h2 {
    text-align:left;
}

p {
    font-size: 0.8em;
}

.action-spacer {
    padding-top: 33px;
}

.btn-add-Equipment {
    margin: 0px;
    height:  var(--standard-height);
    width: 100%;
    -webkit-appearance: none;
    border: 1px solid transparent;
}

#description-field {
    height: 190px;
    overflow: hidden;
}

#btn-rent {
    width: var(--standard-width);
    margin-right: 2em;
}
