:root {
    --light-red: #FC654E;
    --light-red-hover: #FF7F7F;
    --dark-grey: #444444;
    --dark-grey-hover: #8C8C8C;
    --standard-height: 2.3em;
    --standard-width: 12em;
}

h1 {
    color: var(--light-red);
    font-size: 3em;
}

h2 {
    color: var(--dark-grey);
    font-size: 2em;
}

a {
    color: var(--dark-grey);
    cursor: pointer;
}

a:hover {
    color: var(--light-red);
    text-decoration: none;
}

.display-none {
    display: none;
}

.navbar {
    background-color: white;
    border-bottom: 3px solid var(--light-red);
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:visited {
    color: var(--light-red) !important;
    font-weight: bold;
}

.navbar a {
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: var(--dark-grey) !important;
}

.navbar img {
    height: 25px;
    width: 25px;
}

.btn-primary {
    background-color: var(--light-red);
    border: none;
    color: white;
    height: var(--standard-height);
    margin: 1em;
    width: var(--standard-width);
}

.user-icon {
    border: 1px solid black;
    border-radius: 50%;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
    background-color: var(--light-red-hover) !important;
    border: transparent;
}

.spacer-top-2em {
    margin-top: 2em;
}

.spacer-top-6em {
    margin-top: 6em;
}

.red-text {
    color: var(--light-red);
}

.column-btn {
    display: inline-block;
    height: 2.2em;
    width: 3.2em;
    background-color: var(--dark-grey);
    border-radius: 1.5em;
}

.column-btn img {
    height: 100%;
    width: 100%;
    text-align: center;
}

.column-btn:hover {
    background-color: var(--dark-grey-hover);
}

.btn-cart {
    color: white;
    display: inline-block;
    position: relative;
}

.button__badge {
    background-color: var(--light-red);
    border-radius: 2px;
    color: white;

    padding: 1px 3px;
    font-size: 10px;

    position: absolute;
    top: 0;
    right: 0;
}

#btn-delete {
    background-color: var(--dark-grey) !important;
}

#btn-delete:hover {
    background-color: var(--dark-grey-hover) !important;
}
